.select-page-container {
    position: relative; /* 상대적 위치 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    min-height: 100vh;
}

.chat-container {
    display: flex;
    height: 100vh;
    min-height:100vh;
    background-color: #f5f5f5;
    flex-direction: row;
    margin-right:0px;
}

.chat-left-panel {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 210px;  /* Fixed width for the left panel */
}

.home-btn {
    color:black;
    background-color: transparent;
    padding: 15px 10px; /* 내부 여백 조정 */
    cursor: pointer;
}

.home-btn:hover {
    color: whitesmoke;  /* 아이콘 색상 */
    color: #54a0ff;  /* 아이콘 색상 */
}

.back-btn {
    position: absolute; /* 절대 위치 설정 */
    left: 20px; /* 좌측에서부터 20px */
    border: 2px solid #cccccc;
    background-color: #f5f5f5; /* 배경색 */
    cursor: pointer;
    font-size: 40px; /* 글자 크기 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px; /* 내부 패딩 조정 */
    height: 60px; /* 버튼 높이 설정 */
    width: 60px; /* 버튼 너비 설정 */
    border-radius: 50%; /* 원형으로 만듦 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    transition: all 0.3s ease; /* 부드러운 전환 효과 */
}

.back-btn:hover {
    background-color: #54a0ff; /* 호버 상태에서 배경색 변경 */
    color: #f5f5f5; /* 호버 상태에서 글자색 변경 */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 더 진하게 */
    border:none;
}

.back-btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 상태에서 그림자 */
    transform: translateY(2px); /* 클릭 시 약간 아래로 이동 */
}


.chat-room {
    padding: 5px;
    border-radius: 5px;
    height:30px;
    cursor: pointer;
    justify-content: center;
    background-color: whitesmoke;
    font-size:20px;
    border:0.5px solid #bdc3c7;
}

.chat-room:hover {
    background-color: #e0e0e0;
}

.chatroom-button {
    background-color: transparent;
    text-align: center;
    justify-content: center;
    border:none;
    font-family: "Roboto Condensed";
    font-weight:500;
}

.newchat-btn {
    font-size: 20px; /* 텍스트 크기를 적절히 조정 */
    font-family: "Roboto Condensed";
    font-weight:500;
    border: 2px solid transparent; /* 테두리 더 명확하게 */
    cursor: pointer;
    color: #333; /* 텍스트 색상 유지 */
    background-color: transparent;
    border-radius: 20px; /* 모서리 더 둥글게 */
    transition: all 0.3s ease;
    height: 10%;
}

.newchat-btn:hover {
    color: #54a0ff; /* 텍스트 색상 유지 */
}

.chat-panel {
    width: 40%;
    color: #f5f5f5;
    flex-grow: 1;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-left: 2px solid #cccccc;
}

.chat-panel.right {
    width: 40%;
    background-color: #f5f5f5; /* 밝은 회색으로 배경 설정 */
    display: flex;
    flex-direction: column;
}
.button-wrapper{
    height: 80%;
    width: 98%;
    border: 2px solid black;
    padding: 10px;
    overflow: auto;
}

.chat-room-list {
    height: 150px;
    overflow-y: auto;
    width: 100%; /* 채팅방 목록 너비 조정 */
}

.chat-banner {
    background-color: #abb8c2;
    color:black;
    font-family: "Apple SD Gothic Neo";
    font-size:20px;
    font-weight:700;
    text-align: center;
    padding:20px;
}

.help-button {
    position: absolute;
    right: 15px;
    top: 4%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
}

.help-modal {
    display: none;
    position: fixed;
    right: 8%;
    top: 20%;
    width: 350px;
    background-color: #ffffff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25), 0 5px 15px rgba(0, 0, 0, 0.22); /* 깊이감 있는 그림자 효과 */
    padding: 25px;
    border-radius: 12px; /* 모서리를 더 둥글게 */
    z-index: 1000;
    border: 1px solid rgba(0, 0, 0, 0.1); /* 경계선 추가 */
    transition: transform 0.3s ease-out; /* 모달 등장 애니메이션 */
}

.help-modal-header {
    font-size: 20px; /* 제목의 크기 */
    font-weight: 600; /* 제목의 굵기 */
    color: #333; /* 제목의 색상 */
    margin-bottom: 15px; /* 제목 아래의 마진 */
    border-bottom: 1px solid #eee; /* 섹션을 나누는 가벼운 선 */
    padding-bottom: 10px; /* 선 아래 패딩 */
}

.help-modal-body {
    font-size: 15px; /* 본문 텍스트 크기 */
    font-family: "Apple SD Gothic Neo";
    color: #666; /* 본문 텍스트 색상 */
    line-height: 1.5; /* 줄간격 */
    margin-bottom: 10px; /* 섹션 아래 마진 */
    text-align: left;
}


.help-button:hover + .help-modal {
    display: block;
}

.chat-input-container {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    border-top: 1px solid #E1E1E1; /* 상단 테두리를 더 섬세하게 */
    padding: 10px; /* 패딩 값 조정 */
    background-color: #FFFFFF; /* 입력 창 배경색을 순백색으로 설정 */
    box-shadow: inset 0 -1px 0 #ddd; /* 입력 창에 내부 그림자 효과 추가 */
}

.chat-input {
    flex-grow: 1; /* 입력 필드가 컨테이너의 나머지 공간을 채우도록 설정 */
    padding: 10px 15px; /* 입력 필드 내부 패딩 조정 */
    border-radius: 20px; /* 모서리 둥글게 */
    border: 1px solid #E1E1E1; /* 테두리를 섬세하게 조정 */
    margin-right: 10px; /* 전송 버튼과의 간격 조정 */
    font-size: 16px; /* 입력 텍스트 크기 조정 */
    outline: none; /* 클릭 시 테두리 제거 */
    background-color: #F7F7F7; /* 입력 필드 배경색 조정 */
    color: #333; /* 입력 텍스트 색상 조정 */
    transition: background-color 0.2s ease; /* 부드러운 배경 색상 전환 효과 */
}

.chat-input:focus {
    background-color: #FFF; /* 입력 필드에 포커스 시 배경색 변경 */
}

.chat-submit-button {
    padding: 0; /* 내부 패딩 제거 */
    width: 40px; /* 버튼 크기 고정 */
    height: 40px; /* 버튼 크기 고정 */
    background-color: #007BFF; /* 버튼 배경색 설정 */
    color: #FFFFFF; /* 버튼 내부 텍스트 색상 설정 */
    border-radius: 50%; /* 버튼을 원형으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    cursor: pointer; /* 마우스 포인터 변경 */
    display: flex; /* 버튼 내부 아이콘을 중앙으로 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    transition: background-color 0.2s ease; /* 부드러운 배경 색상 전환 효과 */
}

.chat-submit-button:hover {
    background-color: #0056b3;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #abb8c2;
}

.chat-message {
    overflow-wrap: break-word; /* 단어가 줄 바꿈 되어야 하는 경우 줄 바꿈 */
    white-space: pre-wrap; /* 공백 및 줄 바꿈 유지 */
    max-width: 100%;
    word-wrap: break-word; /* 긴 텍스트 처리 */
    padding: 10px 20px;
    border-radius: 20px; /* 둥근 모서리 */
    margin-bottom: 20px;
    position: relative; /* 포지셔닝을 위해 */
}

.chat-message.sent {
    align-self: flex-end;
    background-color: #187eff;
    color: #ffffff;
}

.chat-message.sent::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px; /* 오른쪽 끝으로 조정 */
    border-width: 0px 15px 15px 15px;
    border-style: solid;
    border-color: transparent transparent #187eff transparent;
    border-bottom-left-radius: 0; /* 왼쪽 아래 모서리 둥글지 않게 */
    display: block;
    width: 0;
    transform: rotate(10deg); /* 삼각형을 45도로 회전 */
}

.chat-message.received {
    align-self: flex-start;
    background-color: #e8e8e8;
    color: #333;
}

.chat-message.received::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -10px; /* 오른쪽 끝으로 조정 */
    border-width: 0px 15px 15px 15px;
    border-style: solid;
    border-color: transparent transparent #e8e8e8 transparent;
    border-bottom-left-radius: 0; /* 왼쪽 아래 모서리 둥글지 않게 */
    display: block;
    width: 0;
    transform: rotate(-10deg); /* 삼각형을 45도로 회전 */
}


.logout-btn {
    font-size: 50px; /* 텍스트 크기를 적절히 조정 */
    cursor: pointer;
    color: #333; /* 텍스트 색상 유지 */
    transition: all 0.3s ease;
    border:none;
    background-color: transparent;
    margin-top:20px;
}

.logout-btn:hover {
    color:#54a0ff;
}
.divider {
    cursor: ew-resize;
    width:3px;
    background-color: #ddd;
}

.pin-button {
    position: absolute;
    top: -15px; /* 상단에서 적절한 간격 유지 */
    left: 0; /* 오른쪽에서 적절한 간격 유지 */
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #666; /* 기본 색상 */
}


.pin-button.pinned {
    left:-5px;
    scale:1.1;
}

.special-message {
    background-color: lightyellow !important;
}

.exfont{
    color: #111111;
}