.main-container {
    display: flex;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    flex-direction: column;

    background-color: #888888;
    background-blend-mode: screen;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    margin-top: 15px; /* Adjust margin if necessary */
    width: 250px; /* Fixed width for the left panel */

    height: calc(100vh - 60px); /* Adjust height to take full view height minus any top margin */
    position: fixed; /* Keep the panel fixed at the side */
    top: 5px; /* Distance from the top of the viewport */
    left: 15px; /* Distance from the left of the viewport */
    bottom:5px;
    z-index: 100; /* Ensure it stays on top of other content */

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
}

.left-panel button,
.left-panel a {
    /*width: 80%;*/
    padding: 30px 0;
    margin: 10px 0;
    border: none;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-btn {
    font-size: 40px;  /* 아이콘의 크기 */
    color: black;  /* 아이콘 색상 */
}
.left-panel button span {
    font-size: 40px;  /* 아이콘의 크기 */
    color: black;  /* 아이콘 색상 */
}

.left-panel button span:hover,
.left-panel a:hover {
    color: whitesmoke;  /* 아이콘 색상 */
    color: #54a0ff;  /* 아이콘 색상 */
}

.spare-panel {
    position: relative; /* Set position context for absolute children */
    margin-left:240px;
    min-height: 100vh;
    margin-top:30px;
}

.spare-panel-2nd{
    position: relative; /* Set position context for absolute children */
    padding:50px;
    margin-top:100px;
    margin-left: 90px;
    margin-right:50px;
    min-height: 90vh;
}

.spare-panel-2nd-container {
    justify-content: center;
    text-align: center;
}

.spare-panel-2nd-title {
    margin-top:40px;
    margin-bottom:15px;
    font-weight: bolder;
}

.spare-panel-2nd-title p{
    margin:0;
    padding:0;
    font-size:37px;
    line-height: 1.2;
}

.spare-panel-2nd-explanation {
    margin-bottom:0;
}

.spare-panel-2nd-explanation p{
    margin:0;
    padding:0;
    font-size:25px;
}

.white-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* 2열 설정 */
    grid-template-rows: auto auto;   /* 자동으로 2행 설정, 각 행의 높이는 내용에 따라 조정 */
    gap: 15px;  /* 그리드 사이의 간격 설정 */
    width: 100%;  /* 컨테이너의 너비 설정, 필요에 따라 조정 */
    margin-top:70px;
    margin-left:30px;
}

.white-box {
    width: 350px;
    height: 130px;
    /*margin-left:10px;*/
    margin-right: 10px;
    margin-bottom:20px;
    background-color: white;
    border: 1px solid #ccc;   /* 박스 테두리 */
    border-radius: 30px;
    padding: 25px;            /* 내용과 테두리 사이의 패딩 */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);  /* 그림자 효과 */
    justify-content: space-between;

}

.box-info {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:2px;
    margin-bottom:2px;
    border-bottom: 2px solid #666666;
}

.box-title-container {
    display:flex;
    flex-direction: row;
    margin-top:10px;
    margin-bottom:10px;
}

.box-title {
    margin:0;
    margin-right:10px;
    padding:0;
    font-size: 22px;
    font-weight: bolder;
    font-family: "Roboto Condensed";
}

.box-title-kor {
    margin-top:5px;
    margin-right:20px;
    margin-bottom:0;
    padding:0;
    font-size: 16px;
}

.box-percentage {
    font-size:28px;
    font-weight: bolder;
    margin:0;
}

.box-explanation {
    margin-top:15px;
    font-size: 17px;
    line-height: 1.5;
}
.spare-panel-3rd {
    position: relative; /* Set position context for absolute children */
    margin-left:120px;
    min-height: 100vh;
}

.select-lang {

}

.message-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;  /* Takes up all remaining space */
    width:80%;
    margin-top:230px;
    margin-left:80px;
}

.msgnphone-container {
    display:flex;
    flex-direction: row;
}

.content-container{
    justify-content: center;
    align-items: flex-start;
    width:100%;
    color: #e0e0e0;
    font-family: "Geneva";
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 2px; /* 글자 사이 간격을 1픽셀로 설정 */
    /*animation: slideDown 2s ease-out forwards;*/
}

.message-introduction {
    width:81%;
    color: #e0e0e0;
    font-family: "Geneva";
    font-size:20px;
    margin-top:20px;
    margin-bottom:50px;
    text-align:left;
    /*animation: slideDown 2s ease-out forwards;*/
}


.content-message {
    width:640px;
    margin-top:50px;
    margin-left:50px;
}

.content-message p {
    font-size: 20px;
    line-height: 1.2;
    /*font-family: "Courier New";*/
    font-family: "NanumGothicCoding";
    /*font-weight:300;*/
    /*animation: slideLeft 2s ease-out forwards; !* content-title 애니메이션이 1초 지속되므로, 1초 지연 *!*/
}

.phone-container {
    width: 330px; /* 전체 컨테이너 너비 */
    height: 500px; /* 전체 컨테이너 높이 */
    margin-right:100px;
    margin-top:170px;
    border-radius: 30px; /* 모서리 둥글게 */
    box-shadow: 0 4px 16px rgba(0,0,0,0.25); /* 그림자 추가 */
    background: transparent; /* 배경색 */
    display: flex;
    flex-direction: row;
    position: relative; /* 포지셔닝을 위해 */
    overflow: hidden; /* 내부 요소가 범위를 넘어서지 않도록 */
    border: 3px solid rgba(255, 255, 255, 0.7); /* 경계선 추가 및 투명도 적용 */
}

.phone-container-guide {
    width: 280px; /* 전체 컨테이너 너비 */
    height: 500px; /* 전체 컨테이너 높이 */
    margin-right:120px;
    margin-top:120px;
    border-radius: 30px; /* 모서리 둥글게 */
    box-shadow: 0 4px 16px rgba(0,0,0,0.25); /* 그림자 추가 */
    background: transparent; /* 배경색 */
    display: flex;
    flex-direction: row;
    position: relative; /* 포지셔닝을 위해 */
    overflow: hidden; /* 내부 요소가 범위를 넘어서지 않도록 */
    border: 3px solid rgba(255, 255, 255, 0.7); /* 경계선 추가 및 투명도 적용 */
}

.screen {
    width: 100%; /* 스크린 너비 */
    height: 100%; /* 스크린 높이 */
    background: transparent; /* 스크린 배경색 */
    display: flex;
    flex-direction: column;
}

.status-bar {
    height: 25px; /* 상태바 높이 */
    background: rgba(255, 255, 255, 0.3); /* 투명도가 있는 흰색 배경 */
    color: white; /* 텍스트 색상 */
    display: flex;
    /*justify-content: space-between;*/
    justify-content: center;
    font-family: "Ubuntu";
    font-size: 18px; /* 글씨 크기 */
    padding: 15px; /* 상하 좌우 마진 추가 */
    padding-top:20px;
}

.screen-messages {
    display:flex;
    flex-direction:column;
    flex-grow: 1; /* 남은 공간 모두 사용 */
    font-size:14px;
    padding: 10px; /* 패딩 */
    overflow-y: auto; /* 스크롤 */
    background: rgba(255, 255, 255, 0.2); /* 투명도가 있는 흰색 배경 */
}

.message-received{
    margin: 5px 0; /* 메시지 간격 */
    margin-left:7px;
    padding: 10px; /* 메시지 패딩 */
    background: #007BFF; /* 메시지 배경색 */
    color: white; /* 메시지 글자색 */
    border-radius: 10px; /* 모서리 둥글게 */
    width: fit-content; /* 내용에 맞게 너비 조정 */
    height: fit-content;
    max-width: 80%; /* 최대 너비 */
    align-self: flex-start; /* 왼쪽 정렬 */
}

.message-received p {
    line-height: 1;
    margin:5px 0;
}

.message-sent {
    margin: 5px 0; /* 메시지 간격 */
    margin-left:7px;
    padding: 10px; /* 메시지 패딩 */
    background: #e8e8e8; /* 메시지 배경색 */
    color: black; /* 메시지 글자색 */
    border-radius: 10px; /* 모서리 둥글게 */
    width: fit-content; /* 내용에 맞게 너비 조정 */
    height: fit-content;
    max-width: 80%; /* 최대 너비 */
    align-self: flex-end;
}

.cancel span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ef2417;
    color: white;
    margin-top:6px;
}

.check_circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding:3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #17e038;
    color:white;
    font-size:30px;
}

.message-input-container {
    display: flex;
    padding: 10px; /* 패딩 */
    background: rgba(255, 255, 255, 0.2); /* 투명도 있는 배경 */
}

.message-input {
    flex-grow: 1; /* 입력 필드가 가능한 모든 공간을 차지하도록 설정 */
    border: none; /* 테두리 제거 */
    padding: 10px; /* 내부 패딩 */
    border-radius: 20px; /* 둥근 모서리 */
    margin-right: 10px; /* 오른쪽 마진 */
    outline: none; /* 클릭 시 테두리 제거 */
}

.send-btn {
    padding: 10px 15px; /* 버튼 패딩 */
    background-color: #007BFF; /* 버튼 배경색 */
    color: white; /* 버튼 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 20px; /* 둥근 모서리 */
    cursor: pointer; /* 포인터 모양 변경 */
    outline: none; /* 클릭 시 테두리 제거 */
}

.send-button:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

.chat-link {
    width: 400px;
    padding: 30px;
    background-color: transparent;
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    font-size: 20px;
    font-family: "Roboto Condensed";
    font-weight: bold;
    cursor: pointer;
    margin-left:0px;
    /*animation: slideUp 2s ease-out forwards; !* message 애니메이션이 1초 지속되며, 1초 후 시작하므로 총 2초 후, 추가 0.5초 지연 *!*/
}

.chat-link:hover {
    background-color: #54a0ff;
    color: white;
    border: 2px solid #54a0ff;
}

.scroll-down {
    position: fixed;
    right: 20px;   /* Adjust this value to increase or decrease distance from the right edge */
    bottom: 20px;  /* Adjust this value to increase or decrease distance from the bottom edge */
    z-index: 1000; /* Ensures the button stays on top of other content */
}

.scroll-down button {
    border: none;
    color: #888888;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    cursor: pointer;
    font-size: 24px; /* Adjust font size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    border-radius: 50%; /* Gives the button a rounded shape */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Optional: adds shadow for better visibility */
}

@keyframes slideDown {
    from {
        transform: translateY(-200px); /* 시작 위치 */
        opacity: 0; /* 시작할 때 요소를 투명하게 설정 */
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1; /* 최종적으로 요소를 불투명하게 설정 */
    }
}


@keyframes slideUp {
    from {
        transform: translateY(+300px); /* 시작 위치 */
        opacity: 0; /* 시작할 때 요소를 투명하게 설정 */
    }
    to {
        transform: translateY(0); /* 최종 위치 */
        opacity: 1; /* 최종적으로 요소를 불투명하게 설정 */
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-200px); /* 시작 위치 */
        opacity: 0; /* 시작할 때 요소를 투명하게 설정 */
    }
    to {
        transform: translateX(0); /* 최종 위치 */
        opacity: 1; /* 최종적으로 요소를 불투명하게 설정 */
    }
}

.slide-animation {
    animation: slideDown 3s ease-out forwards;
}
