.pin-page {
    color: #333;
    min-height: 100vh;
    overflow: hidden; /* 필요할 때만 스크롤바 표시 */
}

.pin-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    min-height: 700px; /* 높이를 최소 500px로 설정 */
    padding: 20px;
    margin: 20px;
    background: rgba(255, 255, 255, 0.2); /* 투명도가 있는 흰색 배경 */
    backdrop-filter: blur(10px); /* 배경 블러 효과 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.pin-page-title {
    font-family: 'Rockwell', sans-serif;
    font-size:40px;
    color: #000000;
    margin-left:10px;
    margin-bottom: 30px;
}

.contracts {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contract-button {
    background-color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contract-button:hover {
    background-color: #bdc3c7;
}

.gallery-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pinned-answer {
    width:40%;
    font-family: 'Rockwell', sans-serif;
    background-color: #ecf0f1;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* 카드 내용을 세로로 정렬 */
}

.pinned-answer strong {
    font-size: 18px; /* 제목을 더 강조 */
    color: #2c3e50;
    margin-bottom: 5px; /* 제목과 상세 정보 사이의 공간 추가 */
}

.pinned-answer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 90%;
    max-width: 500px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}