:root {
    --main-bg-color: #f4f4f8;
    --button-bg-color: #5c67f2;
    --button-hover-color: #434bc9;
    --text-color: #333;
    --title-font: 'Roboto', sans-serif;
    --body-font: 'Open Sans', sans-serif;
}

.pin-page {
    color: #333;
    min-height: 100vh;
    overflow: hidden; /* 필요할 때만 스크롤바 표시 */
    font-family: var(--body-font);
}


.pin-page-title {
    font-size:40px;
    font-family: var(--title-font);
    color: var(--text-color);
    margin-left:10px;
    margin-bottom: 30px;
}

.dropdown-select {
    padding: 10px 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    outline: none;
    margin-left:30px;
    margin-right:10px;
    background-color: var(--button-bg-color); /* 통일된 배경색 사용 */
    color: white; /* 통일된 텍스트 색상 사용 */
    font-family: var(--body-font); /* 전체적으로 동일한 폰트 적용 */
    border:none;
    border-radius: 5px; /* 통일된 테두리 반경 */
}

.contracts {
    display: flex;
    justify-content: flex-start; /* 모든 항목 간에 균등한 공간을 제공 */
    flex-wrap: wrap;
    margin: 20px;
    gap: 10px; /* 항목 사이의 간격 설정 */
    padding: 10px; /* 내부 패딩 추가 */
}

.contract-button {
    background-color: var(--button-bg-color);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Apple SD Gothic Neo";
}

.contract-button:hover {
    background-color: var(--button-hover-color);
}

.gallery-view {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
}

.pin-icon {
    position: absolute;
    top:-7px;
    font-size:20px;
    left: 2%;
    color: #d35400; /* 기본 색상 */
}

.pinned-answer {
    width: 40%;
    height: auto; /* Change from fixed height to auto to accommodate varying content sizes */
    overflow: hidden;
    font-family: "Apple SD Gothic Neo";
    font-size: 15px;
    line-height: 20px;
    background:white;
    border: 1px solid #ccc;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Adjusted for better alignment */
    align-items: center;
}

.pinned-answer:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
