.select-container {
    align-items: center;
    height:100vh;
    display: flex; /* 이 컨테이너를 flex 컨테이너로 만듭니다. */
    flex-direction: column; /* 자식 요소를 세로로 정렬합니다. */
    justify-content: center; /* 자식 요소 사이에 공간을 균등하게 배분합니다. */
    width:100%;
}

.step-container {
    position: relative; /* 상대 위치 설정 */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gainsboro;
    height: 70%;
    width: 50%;
    text-align: center;
}

.step-container h2 {
    text-align: center;
    font-size:50px;
    color:black;
    font-family: 'Helvetica', sans-serif;
    font-weight:80;
    padding-top:20px;
    padding-bottom:0;
    margin-bottom: 0;
}

.step-container p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight:200;
    padding-top:10px;
    padding-bottom:30px;
    margin-top:0;
    color:black;
}

.step-buttons {
    display: flex;
    justify-content: space-between; /* 버튼 사이의 간격을 균등하게 배분합니다. */
    align-items: center; /* 버튼들이 수직 중앙에 위치하도록 추가 */
    flex-direction: column; /* 버튼들을 세로로 정렬하려면 이 속성이 필요합니다. */
    height: 50%; /* 부모의 전체 높이를 차지하도록 설정 */
    text-align: center;
    flex: 1; /* 이 div가 가능한 모든 공간을 차지하도록 합니다. */
}

.step-container button:not(.back-button) {
    display: flex;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size:20px;
    background-color: #f0f0f0;
    justify-content: center;
    cursor: pointer;
    flex: 1; /* 각 버튼이 균등한 공간을 차지하도록 설정합니다. */
    height: 100px; /* 버튼의 높이를 설정합니다. */
    padding: 10px;
    margin: 5px 0; /* 상하 여백만 주어서 버튼 사이의 간격을 설정합니다. */
    flex-grow: 0; /* 버튼의 크기가 늘어나지 않도록 설정합니다. */
    flex-shrink: 0; /* 버튼의 크기가 줄어들지 않도록 설정합니다. */
}

.step-container button:hover {
    background-color: #54a0ff;
    color:white;
}

.step-container button:focus, .step-container button:active {
    background-color: #007bff;
    color: white;
}

.confirmation-container {
    margin: 20px;
    padding-top: 20px;
    padding-bottom:50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ccc;
    height:70%;
    width:50%;
    display: flex; /* Flex 컨테이너로 설정 */
    justify-content: center; /* 수평 중앙 정렬 */
    flex-direction: column; /* 자식 요소를 세로로 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}
.confirmation-container h2{
    text-align: center;
    font-size:40px;
    color:black;
    font-family: 'Helvetica', sans-serif;
    font-weight:80;
    padding-top:30px;
}

.confirmation-summary {
    border: 10px solid white;
    background-color: white;
    height:60%;
    color: black;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px; /* 줄 간격을 늘립니다 */
    width:70%;
    text-align: center; /* 텍스트를 가운데 정렬합니다. */
    display: flex; /* 이 컨테이너를 flex 컨테이너로 만듭니다. */
    flex-direction: column; /* 자식 요소를 세로로 정렬합니다. */
    justify-content: center; /* 자식 요소들을 컨테이너 내에서 세로 중앙에 배치합니다. */
    align-items: center; /* 자식 요소들을 가로 중앙에 배치합니다. */
    margin: auto; /* 가로 방향 양쪽에 자동 마진을 설정하여 중앙 정렬 */
    margin-bottom:30px;
}


.confirmation-buttons button {
    width: 120px;
    height:50px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 0 20px; /* 왼쪽과 오른쪽에 20px의 마진을 추가 */
    cursor: pointer;
}

.no-button {
    background-color: #a9a8a8;
    color: white;
}

.yes-button {
    background-color: #54a0ff;
    color: white;
}

.confirmation-buttons {
    display: flex;
    justify-content: center;
}

.back-button {
    position: absolute; /* 절대 위치 설정 */
    bottom: 20px; /* 아래쪽에서 20px 떨어진 곳에 위치 */
    left: 20px; /* 오른쪽에서 20px 떨어진 곳에 위치 */
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* 아이콘 크기 적당히 조정 */
}

.back-button:hover {
    background-color: #d0d0d0;
}

.back-button i {
    margin: auto; /* 아이콘을 버튼 중앙에 배치 */
}

.step-container input[type="text"] {
    width: 70%; /* 너비 설정 */
    padding: 15px; /* 안쪽 여백으로 더 나은 타이핑 경험 제공 */
    margin: 100px 0 20px; /* 마진으로 주변 요소와의 거리 설정 */
    border: 2px solid #ccc; /* 테두리 스타일 */
    border-radius: 5px; /* 테두리 둥근 처리 */
    font-size: 20px; /* 텍스트 크기 */
    color: #333; /* 텍스트 색상 */
    background-color: #f9f9f9; /* 배경 색상 */
    transition: border-color 0.3s; /* 테두리 색상 변화 애니메이션 */
}

/* 입력 필드에 포커스 됐을 때 스타일 */
.step-container input[type="text"]:focus {
    border-color: #007bff; /* 포커스 상태에서의 테두리 색상 */
    outline: none; /* 기본 아웃라인 제거 */
}

/* 다음 버튼 스타일 */
.step-container button.next-button {
    display: block; /* 블록 레벨 요소로 변경 */
    width: 20%; /* 너비 설정 */
    padding: 10px; /* 패딩 */
    margin: 20px auto; /* 상하 마진 20px, 좌우 마진 자동으로 설정하여 가로 중앙 정렬 */
    background-color: #007bff; /* 배경 색상 */
    color: white; /* 텍스트 색상 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 18px; /* 글씨 크기 */
    cursor: pointer; /* 커서 스타일 */
    transition: background-color 0.3s; /* 배경 색상 변화 애니메이션 */
}

/* 다음 버튼에 마우스를 올렸을 때 스타일 */
.step-container button.next-button:hover {
    background-color: #0056b3; /* 호버 상태의 배경 색상 */
}