@keyframes typing {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 100%; }
}

@keyframes blinkCursor {
    from { border-right-color: #0FF; }
    to { border-right-color: transparent; }
}

.start-page-container {
    background-color: black;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 나열 */
    justify-content: center; /* 요소들을 세로 중앙에 배치 */
    align-items: center; /* 요소들을 가로 중앙에 배치 */
    height: 100%;
    padding: 200px 40px;
}

.project-name-container {
    margin-left: 100px;
    display: flex;
    background-color: black;
    flex-grow: 1;
    align-items: center;
    margin-bottom:400px;
}

.auth-buttons-container {
    display: flex;
    gap: 40px;
    padding: 0;
    margin-bottom:50px;
}

.project-name {
    color: #0FF;
    font-size: 6vw;
    font-family: 'Impact', sans-serif;
    letter-spacing: 11px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #0FF;
    animation: typing 6s steps(40, end) infinite, blinkCursor .75s step-end infinite;
    margin-top:50px;
}

@keyframes neonFlicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        text-shadow: 0 0 10px #0FF, 0 0 20px #0FF, 0 0 30px #0FF, 0 0 40px #0FF, 0 0 50px #0FF, 0 0 60px #0FF, 0 0 70px #0FF;
    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}

.login-button, .signup-button {
    width: 250px;
    height: 100px;
    color: #FFFFFF;
    border: 2px solid #0FF;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px 20px;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    text-decoration: none;
}
.login-button:hover {
    background-color: #0FF;
    color: #000;
    transform: scale(1.1);
}
.signup-button:hover {
    background-color: #0FF;
    color: #000;
    transform: scale(1.1);
}

.get-started {
    color: #FFFFFF;
    font-size: 2.5rem; /* 예시로 2rem 설정, 필요에 따라 조정 가능 */
    font-family: 'Roboto Condensed', sans-serif;
    margin: 20px 0 40px; /* "Get Started"와 버튼 사이의 간격 조정 */
    text-align: center; /* 중앙 정렬 */
}

