.start-page-circle1 {
    content: "";
    position: absolute;
    top: 50%;
    left: 33%;
    width: 30%; /* 가로 반지름 */
    height: 50%; /* 세로 반지름 */
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255, 0, 0, 0.06), rgba(0, 0, 255, 0.16) 90%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 0; /* 배경이 컨테이너 위에 떠 있도록 z-index를 낮춤 */
}

.start-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background: linear-gradient(275deg, rgba(192, 192, 192, 0.9) 10%, rgba(135, 206, 235, 0.9) 40%, rgb(0, 88, 204) 60%),
    linear-gradient(160deg, rgba(228, 135, 235, 0.7) 10%, rgba(0, 153, 255, 0.7) 50%, rgba(70, 130, 180, 0.7) 90%),
    linear-gradient(360deg, rgba(70, 130, 180, 0.95) 30%, rgba(150, 60, 60, 0.8) 70%);
    background-blend-mode: screen;
}

.project-name-container {
    width:40%;
    height:100%;
    margin-right:0px;
    animation: fadeInDown 1s ease-out; /* 애니메이션 효과 */
    background: rgba(255, 255, 255, 0.2); /* 투명도가 있는 흰색 배경 */
    backdrop-filter: blur(10px); /* 배경 블러 효과 */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-name {
    font-family: Geneva;
    font-size: 30px;
    font-weight: bolder;
    color: #333;
}

.auth-buttons-container {
    display:flex;
    flex-direction: row;
    margin-top:20px;
    animation: fadeIn 1s ease-out; /* 애니메이션 효과 */
}

.login-button,
.signup-button {
    width:200px;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.login-button:hover,
.signup-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.login-button:focus,
.signup-button:focus {
    outline: none;
}

/* 애니메이션 키 프레임 */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
